.service-tag
	background $greyBackground
	color $mainColor
	border none
	cursor pointer
	padding 20px 50px
	font-weight 500
	font-size 18px

	&_active
	&:hover
		background-color $mainColor
		color $colorWhite