/* AirbnbCereal font for Russian */

@font-face
	font-family 'AirbnbCereal'
	font-style normal
	font-weight 800
	src url(../fonts/AirbnbCereal-Black.ttf)

@font-face
	font-family 'AirbnbCereal'
	font-style normal
	font-weight bold
	src url(../fonts/AirbnbCereal-Bold.ttf)

@font-face
	font-family 'AirbnbCereal'
	font-style normal
	font-weight normal
	src url(../fonts/AirbnbCereal-Book.ttf)

@font-face
	font-family 'AirbnbCereal'
	font-style normal
	font-weight 900
	src url(../fonts/AirbnbCereal-ExtraBold.ttf)

@font-face
	font-family 'AirbnbCereal'
	font-style normal
	font-weight 300
	src url(../fonts/AirbnbCereal-Light.ttf)

@font-face
	font-family 'AirbnbCereal'
	font-style normal
	font-weight 500
	src url(../fonts/AirbnbCereal-Medium.ttf)

/* Museo Sans Cyrl font for Russian */

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-700.eot');
	src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
			url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
			url('../fonts/MuseoSansCyrl-700.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-100.eot');
	src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
			url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'),
			url('../fonts/MuseoSansCyrl-100.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-500.eot');
	src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
			url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
			url('../fonts/MuseoSansCyrl-500.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
			url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
			url('../fonts/MuseoSansCyrl-300.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-900.eot');
	src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
			url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'),
			url('../fonts/MuseoSansCyrl-900.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}