// Colors
$colorWhite = #ffffff
$colorBlack = #000000
$mainColor = #1b1b1b
$colorTransparent = rgba(#000, 0)
$greyBackground = #fafafa
$validationColor = #ff4b4b

$transitionDefault = 300ms

// Paddings
$blockPaddingTop = 100px

*, h1, p, body
	margin 0
	padding 0
	box-sizing border-box
	color inherit
	font-size inherit
	font-weight inherit
	font-family inherit
	// border inherit
	outline inherit
	line-height inherit
	user-select inherit
	text-decoration inherit
	letter-spacing inherit
	
body
	color: $mainColor
	font-family 'AirbnbCereal', 'Museo Sans Cyrl', sans-serif
	font-weight 300
	font-size 14px
	line-height normal
	outline none
	
img, textarea
	vertical-align middle
	max-width 100%

w-400  = 'screen and (max-width:  400px)'
w-500  = 'screen and (max-width:  500px)'
w-640  = 'screen and (max-width:  640px)'
w-768  = 'screen and (max-width:  768px)'
w-860  = 'screen and (max-width:  860px)'
w-900  = 'screen and (max-width:  900px)'
w-1024 = 'screen and (max-width: 1024px)'
w-1100 = 'screen and (max-width: 1100px)'
w-1185 = 'screen and (max-width: 1185px)'
w-1260 = 'screen and (max-width: 1260px)'
w-1270 = 'screen and (max-width: 1270px)'