.networks
	display flex
	align-items center

	&__icon
		flex 0 0 30px

		img
			display block
			width 30px
			min-width 30px
			height 30px
			max-width none

		&:not(:last-child)
			margin-right 10px

	&_black
		height 30px
