.pixel-button
	position relative
	display flex
	align-items center
	justify-content center
	width 120px
	height 32px

	&__pixel
		position absolute
		display inline-block
		width (100% / 15)
		height 25%
		background-color $colorTransparent
		float left
		transition background-color 0.5s ease-out
		transition-delay 1s

		&:hover
			background-color $mainColor
			transition background-color .05s

	for j in (0..3)
		for i in (0..14)
			&__pixel_{j}{i}
				left (i * 100% / 15)
				top (j * 25%)

	&__text
		font-weight 500
		font-size 16px

